{:deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :paths ["src"]
 :aliases {:dev {:extra-paths ["test"]}
           :dev-easy {:extra-deps {cider/cider-nrepl {:mvn/version "0.27.2"}
                                   djblue/portal {:mvn/version "0.18.0"}
                                   refactor-nrepl/refactor-nrepl {:mvn/version "3.1.0"}}
                      :main-opts ["-e" "(do(require,'portal.api)(portal.api/tap)(portal.api/open)(set!,*print-namespace-maps*,false))" "-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]
                      :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
           :test {:extra-paths ["test"]}
           :test-runner {:extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                         :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
                         :main-opts   ["-m" "cognitect.test-runner"]
                         :exec-fn cognitect.test-runner.api/test}
           :kaocha {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.60.945"}}
                    :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"]
                    :main-opts   ["-m" "kaocha.runner"]}}}

